
@mixin abs {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300&display=swap');
$t: transparent;

*{
  box-sizing: border-box;
}
body{
  font-size: 10px;
  .avatron{
    font-size: 1.5vmin;
    width: 36.5em;
    height: 53.5em;
    position: absolute;
    top: 56.5%;
    left: 60%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(14, 30, 37, .15) -2em -1em 2.5em 1em,;
    background:
      linear-gradient(
          to bottom,
          rgba(#B6B8AD,.1) ,
          rgba(#B6B8AD,.5) 85%,
          rgba(#fff,.02) 87%,
          rgba(#fff,.01) 97%,
          rgba(#000,.05) 99%
      )
      100% 0% / 100% 21.8%,
      #C6C6BC;
    background-repeat: no-repeat;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    &::after{
      pointer-events: none;
      content:"";
      width: 100%;
      height: 100%;
      position: absolute;
      background-repeat: no-repeat;
    }
    .top-stripes-container{
      width: 100%;
      height: 2.4em;
      position: absolute;
      top:1.5%;
      left:50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .stripe{
        width: 100%;
        height: .35em;
        background: #827F66;
        background:
                linear-gradient(
                                30deg,
                                rgba(#fff,.01) ,
                                rgba(#fff,.1) 15%,
                                rgba(#fff,.4) 51%,
                )
                100% 100% / .4em 100%,
                linear-gradient(
                                to bottom,
                                rgba(#fff,.2) 5%,
                                #827F66 51%,
                )
      ;
        background-repeat: no-repeat;
      }
    }
    .result{
      width: 80.5%;
      height: 8em;
      position: absolute;
      top:3.5%;
      left:49.8%;
      transform: translateX(-50%);
      box-shadow:
              rgb(0, 0, 0) .3em .3em .6em 0px inset,
              rgba(0, 0, 0, 0.5) -3px -3px .6em .1em inset,
              rgba(255, 87, 51,.5) 0px .3em .2em 0px inset
    ;
      background:
              linear-gradient(
                              #010101 74%,
                              #1A1A1A 78%,
              )
              30% 100% / 100% 100%,
    ;
      background-repeat:no-repeat;
    }
    .button-container{

      border-top-left-radius: .8em;
      border-bottom-left-radius: .8em;
      border-bottom-right-radius: .8em;
      width: 80.5%;
      height: 40.6em;
      position: absolute;
      top:24%;
      left:49.8%;
      transform: translateX(-50%);
      border-left:.15em solid rgba(#000,.05);
      border-right:.15em solid rgba(#000,.05);
      border-bottom:.15em solid rgba(#000,.03);

      background:

              linear-gradient(
                              to left,
                              rgba(#000,.2),
                              rgba(#fff,.4) ,

              )
              100% 100% / 2em 35.8em,
              linear-gradient(
                              to right,
                              rgba(#fff,.4) ,
                              #C6C6BC,
              )
              0% 0% / 3em 100%,
    ;
      background-repeat: no-repeat;
      .button-text{
        font-family: 'Chivo Mono', monospace;
        font-family: 'Montserrat', sans-serif;
        color:rgba(#d1d1d1,.7);
        font-size: 2.7em;
        &--number{
          font-family: 'Raleway', sans-serif;
        }
      }
      .logo-container{
        width: 19.5em;
        // border:1px solid blue;;
        border-right: .1em solid rgba(#000,.2);
        border-bottom: .1em solid rgba(#000,.1);
        position: absolute;
        left:9.7em;
        height: 4.2em;
        top:0.2em;
        background:
                linear-gradient(
                                to right,
                                #B7B9AE 49%,
                                $t 51%,
                )
                0% 100% / .1em 100%,
                linear-gradient(
                                to bottom,
                                #B7B9AE 49%,
                                $t 51%,
                )
                50% 0% / 100% .15em,
                linear-gradient(
                                to top,
                                #B7B9AE 49%,
                                $t 51%,
                )
                50% 100% / 100% .3em,
                #D8D8D6;
        font-family: 'Inconsolata', monospace;
        background-repeat: no-repeat;
      }
      .logo{
        top:50%;
        transform: translateY(-50%);
        position: absolute;
        font-weight: 200;
        font-size: 2em;
        font-weight: 300;
        letter-spacing: .1em;
        left:5%;

      }
      .button-container-top{
        border-top-left-radius: .8em;
        width: 27%;
        height: 7.8em;;
        position: absolute;
        left:0em;
        top:-6.5%;
        border-radius: .5em;
        border:.15em solid rgba(#000,.05);
        .button-top-row{
          width: 7em;
          position: absolute;
          left:.35em;
          border-radius: .5em;
          height: 94%;;
          bottom: 0;
          overflow: hidden;
        }
        .button-first{
          box-shadow:
                  inset rgba(#000, 0.35) 0px .1em .8em .2em,
                  inset rgba(#000, .35) -.5em .1em .4em .2em,
                  inset rgba(#762403, .35) -.5em .1em .4em .2em,
        ;
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
          width: 100%;
          height: 7.8em;;
          border-radius: .5em;
          .shading{
            width: 100%;
            height: 100%;
            background:
                    linear-gradient(
                                    45deg,
                                    rgba(#D56800,.0) 46%,
                                    rgba(#fff, .15) 50%,
                                    rgba(#B45F05,.0) 64%,
                    )
                    0% 0 / 2em 2em,
                    linear-gradient(
                                    -45deg,
                                    rgba(#D56800,.0) 46%,
                                    rgba(#fff,.25) 50%,
                                    rgba(#B45F05,.0) 64%,
                    )
                    0% 4.7em / 2em 2em,
                    linear-gradient(
                                    -45deg,
                                    rgba(#D56800,.0) 46%,
                                    rgba(#fff,.15) 50%,
                                    rgba(#B45F05,.0) 64%,
                    )
                    100% 0em / 2.5em 2em,
                    linear-gradient(
                                    45deg,
                                    rgba(#D56800,.0) 46%,
                                    rgba(#fff,.35) 50%,
                                    rgba(#B45F05,.0) 64%,
                    )
                    100% 4em / 2.5em 3em,
                    radial-gradient(
                                    200% 100% at 50% 0%,
                                    rgba(#A6470C,.5),
                                    rgba(red,.0) ,
                                    rgba($t,0)
                    )
                    0% 0em / 6.8em 6.8em,
                    radial-gradient(
                            100% 150% at 0% 50%,
                            rgba(#000,.7) 30%,
                            rgba(#8B1302,.3)45% ,
                            rgba(#A6470C,.2) 50% ,
                          rgba($t,0) 80%
                          )
                        -1.5em -1em / 6.8em 7.8em,


          ;
            background-repeat: no-repeat;
          }
          .button-inner{
            width:5.5em;
            height: 5.5em;
            position: absolute;
            @include abs;
            left:48%;
            border-radius: 1.6em;
            border:.08em solid rgba(#000,.08);
            background:
                    linear-gradient(
                                    -45deg,

                                    rgba(#000,.13) ,
                                    rgba(#000,.1) ,
                                    rgba(#fff,.05) ,
                                    rgba(#fff,.1) ,
                                    rgba(#000,.13)
                    )
                    ,
                    linear-gradient(
                                    -35deg,

                                    rgba(#000,.13) ,
                                    rgba(#000,.1) ,
                                    rgba(#fff,.15) ,
                                    rgba(#fff,.15) ,
                    )
                    ,
                    linear-gradient(
                                    -35deg,
                                    #E49A2C ,
                                    #DC9023 ,
                    )
                    ,
                    #EAA335;
            background-repeat: no-repeat;
            z-index: 999;
            box-shadow: rgba(#fff, .35) 0px .2em .5em -.1em,
            rgba(0, 0, 0, .2) -.2em -.1em .2em -.1em;
          }
        }
      }

      .button--orange{
        background-color: #E3972A;
      }
      .button-text{
        @include abs;
        &--bold{
          font-weight: bold;
        }
      }
      .button-container-bottom{
        position: absolute;
        bottom:.4em;
        height: 35.3em;
        width: 28em;;
        left:49.8%;
        transform: translateX(-50%);
        border-radius: .5em;
        background:

                #030303;

        &::after{
          pointer-events: none;
          content: "";
          position: absolute;
          border-radius: inherit;
          width: 100%;
          height: 100%;
          top:0;
          background:
                  radial-gradient(
                                  100% 100% at 50% 50%,
                                  rgba(#232323,.5),
                                  rgba(red,.0) 60%,
                    //   rgba($t,0)
                  )
                  0em 5.5em / 6.87em 3em,

        ;
          background-repeat: no-repeat;
          box-shadow:
                  rgba(#000, 1.12) .0em .0em 1.5em 0px inset,
                  rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        }
        .button{
          width: 24.5%;
          height: 100%;

          position: relative;

        }
        .button--gray{
          background-color:
                  #768176;
        }

        .button--white{
          background:
                  radial-gradient(
                                  150% 120% at 20% 50%,
                                  rgba(#80817c,.55)40%,
                                  rgba(#323A23,.8) 50%,
                                  rgba(#000,.55) 80%,

                  )
                  50% 50% / 6.87em 7em,

                  #D6D7CF;
          background-repeat: no-repeat;
        }
        .button-row{
          width: 100%;
          height: 20%;;
          border-radius: inherit;
          display: flex;
          justify-content: space-between;
          position: relative;
          border-top-right-radius: .5em;
          overflow: hidden;
        }
        .top-row{
          &::after{
            pointer-events: none;
            content:'';
            width: 100%;
            height: 100%;
            position: absolute;
            box-shadow: .0em .2em .5em rgba(#000,.8) inset;
            background:

                    // 3-4 btn shading
                    linear-gradient(
                                    to right,
                                    $t ,
                                    rgba(#050604,1),
                                    $t,
                    )
                    75.4% 100% / .2em 100%,
                    radial-gradient(
                                    100% 100% at 50% 50%,
                                    rgba(#D56800,.5),
                                    rgba(red,.0) 51%,
                                    rgba($t,0)
                    )
                    77.8% 50% / 2.5em 150%,
                    radial-gradient(
                                    100% 100% at 50% 50%,
                                    rgba(#CC4D00,.9),
                                    rgba(red,.0) 51%,
                                    rgba($t,0)
                    )
                    77.8% 50% / 2.5em 150%,
                    radial-gradient(
                                    100% 100% at 50% 50%,
                                    rgba(#000,1.3),
                                    rgba(red,.0) 51%,
                                    rgba($t,0)
                    )
                    77.8% 50% / 2.5em 150%,

                      // 2-3 btn shading
                    linear-gradient(
                                    to right,
                                    $t ,
                                    rgba(#050604,1),
                                    $t,
                    )
                    50% 100% / .2em 100%,
                    radial-gradient(
                                    100% 100% at 50% 50%,
                                    rgba(#D56800,.5),
                                    rgba(red,.0) 51%,
                                    rgba($t,0)
                    )
                    50% 50% / 2.5em 150%,
                    radial-gradient(
                                    100% 100% at 50% 50%,
                                    rgba(#CC4D00,.9),
                                    rgba(red,.0) 51%,
                                    rgba($t,0)
                    )
                    50% 50% / 2.5em 150%,
                    radial-gradient(
                                    100% 100% at 50% 50%,
                                    rgba(#000,1.3),
                                    rgba(red,.0) 51%,
                                    rgba($t,0)
                    )
                    50% 50% / 2.5em 150%,

                      // 1-2 btn shading
                    linear-gradient(
                                    to right,
                                    $t ,
                                    rgba(#050604,1),
                                    $t,
                    )
                    24.5% 100% / .2em 100%,
                    radial-gradient(
                                    100% 100% at 50% 50%,
                                    rgba(#D56800,.5),
                                    rgba(red,.0) 51%,
                                    rgba($t,0)
                    )
                    22.4% 50% / 2.5em 150%,
                    radial-gradient(
                                    100% 100% at 50% 50%,
                                    rgba(#CC4D00,.9),
                                    rgba(red,.0) 51%,
                                    rgba($t,0)
                    )
                    22.4% 50% / 2.5em 150%,
                    radial-gradient(
                                    100% 100% at 50% 50%,
                                    rgba(#000,1.3),
                                    rgba(red,.0) 51%,
                                    rgba($t,0)
                    )
                    23% 50% / 2.5em 150%,

          ;
            background-repeat: no-repeat;
          }

          .button-first{
            .shading{
              width: 100%;
              height: 100%;
              background:
                      linear-gradient(
                                      45deg,
                                      rgba(#D56800,.0) 46%,
                                      rgba(#fff, .15) 50%,
                                      rgba(#B45F05,.0) 64%,
                      )
                      0% 0 / 2em 2em,
                      linear-gradient(
                                      -45deg,
                                      rgba(#D56800,.0) 46%,
                                      rgba(#fff,.25) 50%,
                                      rgba(#B45F05,.0) 64%,
                      )
                      0% 4.7em / 2em 2em,
                      linear-gradient(
                                      -45deg,
                                      rgba(#D56800,.0) 46%,
                                      rgba(#fff,.15) 50%,
                                      rgba(#B45F05,.0) 64%,
                      )
                      100% 0em / 2.5em 2em,
                      linear-gradient(
                                      45deg,
                                      rgba(#D56800,.0) 46%,
                                      rgba(#fff,.35) 50%,
                                      rgba(#B45F05,.0) 64%,
                      )
                      100% 4em / 2.5em 3em,
                      radial-gradient(
                                      200% 100% at 50% 0%,
                                      rgba(#A6470C,.5),
                                      rgba(red,.0) ,
                                      rgba($t,0)
                      )
                      0% 0em / 6.8em 6.8em,
                      radial-gradient(
                                100% 150% at 0% 50%,
                                rgba(#000,.7) 30%,
                                // rgba(#000,.3) 35%,
                                rgba(#8B1302,.3)45% ,
                                rgba(#A6470C,.2) 50% ,
                              rgba($t,0) 80%
                              )
                            -1.5em -1em / 6.8em 7.8em,


            ;
              background-repeat: no-repeat;
            }
            .button-inner{
              // opacity: 0;
              width:5.5em;
              height: 5.5em;
              position: absolute;
              @include abs;
              left:48%;
              border-radius: 1.6em;
              border:.08em solid rgba(#000,.08);
              background:
                      linear-gradient(
                                      -45deg,

                                      rgba(#000,.13) ,
                                      rgba(#000,.1) ,
                                      rgba(#fff,.05) ,
                                      rgba(#fff,.1) ,
                                      rgba(#000,.13)
                      )
                      ,
                      linear-gradient(
                                      -35deg,

                                      rgba(#000,.13) ,
                                      rgba(#000,.1) ,
                                      rgba(#fff,.15) ,
                                      rgba(#fff,.15) ,
                      )
                      ,
                      linear-gradient(
                                      -35deg,
                                      #E49A2C ,
                                      #DC9023 ,
                      )
                      ,
                      #EAA335;
              background-repeat: no-repeat;
              z-index: 999;
              box-shadow: rgba(#fff, .35) 0px .2em .5em -.1em,
              rgba(0, 0, 0, .2) -.2em -.1em .2em -.1em;
            }
          }
          .button-fourth{
            .shading{
              width: 100%;
              height: 100%;
              background:
                      linear-gradient(
                                      45deg,
                                      rgba(#D56800,.0) 46%,
                                      rgba(#fff, .15) 50%,
                                      rgba(#B45F05,.0) 64%,
                      )
                      0% 0 / 2em 2em,
                      linear-gradient(
                                      -45deg,
                                      rgba(#D56800,.0) 46%,
                                      rgba(#fff,.25) 50%,
                                      rgba(#B45F05,.0) 64%,
                      )
                      0% 4.7em / 2em 2em,
                      linear-gradient(
                                      -45deg,
                                      rgba(#D56800,.0) 46%,
                                      rgba(#fff,.15) 50%,
                                      rgba(#B45F05,.0) 64%,
                      )
                      100% 0em / 2.5em 2em,
                      linear-gradient(
                                      45deg,
                                      rgba(#D56800,.0) 46%,
                                      rgba(#fff,.35) 50%,
                                      rgba(#B45F05,.0) 64%,
                      )
                      100% 4em / 2.5em 3em,
                      radial-gradient(
                                      200% 100% at 50% 0%,
                                      rgba(#A6470C,.5),
                                      rgba(red,.0) ,
                                      rgba($t,0)
                      )
                      0% 0em / 6.8em 6.8em,
                      radial-gradient(
                                      100% 180% at 100% 50%,
                                      rgba(#000,.5) 20%,
                                // rgba(#000,.3) 35%,
                                      rgba(#8B1302,.3)45% ,
                                      rgba(#A6470C,.2) 50% ,
                                      rgba($t,0) 80%
                      )
                      1.5em -1em / 6.8em 7.8em,


            ;
              background-repeat: no-repeat;
            }
            .button-inner{
              // opacity: 0;
              width:5.5em;
              height: 5.5em;
              position: absolute;
              @include abs;
              left:48%;
              border-radius: 1.6em;
              border:.08em solid rgba(#000,.08);
              background:
                      linear-gradient(
                                      -35deg,

                                      rgba(#000,.13) ,
                                      rgba(#000,.1) ,
                                      rgba(#fff,.15) ,
                                      rgba(#fff,.15) ,
                      )
                      ,
                      linear-gradient(
                                      -35deg,
                                      #E49A2C ,
                                      #DC9023 ,
                      )
                      ,
                      #EAA335;
              background-repeat: no-repeat;
              z-index: 999;
              box-shadow: rgba(#fff, .35) 0px .2em .5em -.1em,
              rgba(0, 0, 0, .2) -.2em -.1em .2em -.1em;
            }
          }
          .button-second, .button-third{
            .shading{
              width: 100%;
              height: 100%;
              background:
                      linear-gradient(
                                      45deg,
                                      rgba(#D56800,.0) 46%,
                                      rgba(#fff, .15) 50%,
                                      rgba(#B45F05,.0) 64%,
                      )
                      0% 0 / 2em 2em,
                      linear-gradient(
                                      -45deg,
                                      rgba(#D56800,.0) 46%,
                                      rgba(#fff,.25) 50%,
                                      rgba(#B45F05,.0) 64%,
                      )
                      0% 4.7em / 2em 2em,
                      linear-gradient(
                                      -45deg,
                                      rgba(#D56800,.0) 46%,
                                      rgba(#fff,.15) 50%,
                                      rgba(#B45F05,.0) 64%,
                      )
                      100% 0em / 2.5em 2em,
                      linear-gradient(
                                      45deg,
                                      rgba(#D56800,.0) 46%,
                                      rgba(#fff,.35) 50%,
                                      rgba(#B45F05,.0) 64%,
                      )
                      100% 4em / 2.5em 3em,
                      radial-gradient(
                                      250% 100% at 50% 0%,
                                      rgba(#000,.14),
                                      rgba(#000,.05),
                                      rgba(blue,.0) ,
                                      rgba($t,0)
                      )
                      0% -1em / 6.8em 6.8em,
                      radial-gradient(
                                      200% 100% at 50% 0%,
                                      rgba(#A6470C,.5),
                                      rgba(red,.0) ,
                                      rgba($t,0)
                      )
                      0% 0em / 6.8em 6.8em,
            ;
              background-repeat: no-repeat;
            }
            .button-inner{
              // opacity: 0;
              width:5.5em;
              height: 5.5em;
              position: absolute;
              @include abs;
              left:48%;
              border-radius: 1.6em;
              border:.08em solid rgba(#000,.08);
              background:
                      linear-gradient(
                                      -35deg,

                                      rgba(#000,.13) ,
                                      rgba(#000,.1) ,
                                      rgba(#fff,.15) ,
                                      rgba(#fff,.15) ,
                      )
                      ,
                      linear-gradient(
                                      -35deg,
                                      #E49A2C ,
                                      #DC9023 ,
                      )
                      ,
                      #EAA335;
              background-repeat: no-repeat;
              z-index: 999;
              box-shadow: rgba(#fff, .35) 0px .2em .5em -.1em,
              rgba(0, 0, 0, .2) -.2em -.1em .2em -.1em;
            }
          }
        }
        .second-row, .third-row, .fourth-row, .fifth-row{
          height: 20%;;
          width: 100%;
          .button-text{
            top:48%;
          }
          &::after{
            pointer-events: none;
            content:'';
            width: 100%;
            height: 100%;
            position: absolute;
            box-shadow: .0em .2em .5em rgba(#000,.8) inset;
            background:
                    // 3-4 btn shading
                    linear-gradient(
                                    to right,
                                    $t ,
                                    rgba(#050604,1),
                                    $t,
                    )
                    75.4% 100% / .2em 100%,

                    radial-gradient(
                                    100% 50% at 100% 50%,
                                    rgba(#141A11, 1) ,
                                    rgba(#141A11, .5) 65%,
                                    rgba(#141A11,.1),
                                    rgba(red,.0) 81%,
                      //   rgba($t,0)
                    )
                    74% 50% / 2em 150%,
                    radial-gradient(
                                    100% 60% at 0% 50%,
                                    rgba(#141A11, 1) ,
                                    rgba(#141A11, .3) 45%,
                                    rgba(#141A11,.1),
                                    rgba(red,.0) 61%,
                      //   rgba($t,0)
                    )
                    82% 50% / 2.5em 150%,


                      // 2-3 btn shading
                    linear-gradient(
                                    to right,
                                    $t ,
                                    rgba(#050604,1),
                                    $t,
                    )
                    50% 100% / .2em 100%,
                    radial-gradient(
                                    100% 100% at 50% 50%,
                                    rgba(#141A11,1)20%,
                                    rgba(red,0.0) 51%,
                                    rgba($t,0)
                    )
                    50% 50% / 2.5em 150%,
                    radial-gradient(
                                    100% 100% at 50% 50%,
                                    rgba(#141A11,.4)30%,
                                    rgba(red,0.0) 51%,
                                    rgba($t,0)
                    )
                    50% 50% / 2.5em 150%,
                      // 1-2 btn shading
                    linear-gradient(
                                    to right,
                                    $t ,
                                    rgba(#050604,1),
                                    $t,
                    )
                    24.5% 100% / .2em 100%,
                    radial-gradient(
                                    100% 100% at 50% 50%,
                                    rgba(#141A11,.5),
                                    rgba(red,.0) 51%,
                                    rgba($t,0)
                    )
                    22.4% 50% / 2.5em 150%,
                    radial-gradient(
                                    100% 100% at 50% 50%,
                                    rgba(#141A11,.9),
                                    rgba(red,.0) 51%,
                                    rgba($t,0)
                    )
                    22.4% 50% / 2.5em 150%,
                    radial-gradient(
                                    100% 100% at 50% 50%,
                                    rgba(#000,1.3),
                                    rgba(red,.0) 51%,
                                    rgba($t,0)
                    )
                    23% 50% / 2.5em 150%,

          ;
            background-repeat: no-repeat;
          }
          .button-inner{
            width:5.5em;
            height: 5.5em;
            position: absolute;
            @include abs;
            left:48%;
            border-radius: 1.6em;
            border:.08em solid rgba(#000,.08);
            background:
                    linear-gradient(
                                    -35deg,

                                    rgba(#000,.13) ,
                                    rgba(#000,.1) ,
                                    rgba(#fff,.15) ,
                                    rgba(#fff,.15) ,
                                    rgba(#000,.1) ,
                    )
                    ,
                    linear-gradient(
                                    -35deg,

                                    rgba(#000,.13) ,
                                    rgba(#000,.1) ,
                                    rgba(#fff,.1) ,
                                    rgba(#fff,.1) ,
                    )
                    ,
                    linear-gradient(
                                    -35deg,
                                    #5D6D5E ,
                                    #7A857A ,
                    )
                    ,
                    #768274;
            background-repeat: no-repeat;
            z-index: 999;
            box-shadow:
                    rgba(#fff, .4) .2em .0em .5em -.1em,
                    rgba(#fff, .2) .1em .2em .1em -.1em,
                    rgba(0, 0, 0, .2) -.2em -.1em .2em -.1em;
          }
          .button-first{
            .shading{
              width: 100%;
              height: 100%;
              background:
                      linear-gradient(
                                      45deg,
                                      rgba(#D56800,.0) 46%,
                                      rgba(#fff, .15) 50%,
                                      rgba(#B45F05,.0) 64%,
                      )
                      0% 0 / 2em 2em,
                      linear-gradient(
                                      -45deg,
                                      rgba(#D56800,.0) 46%,
                                      rgba(#fff,.25) 50%,
                                      rgba(#B45F05,.0) 64%,
                      )
                      0% 4.7em / 2em 2em,
                      linear-gradient(
                                      -45deg,
                                      rgba(#D56800,.0) 46%,
                                      rgba(#fff,.15) 50%,
                                      rgba(#B45F05,.0) 64%,
                      )
                      100% 0em / 2.5em 2em,
                      linear-gradient(
                                      45deg,
                                      rgba(#D56800,.0) 46%,
                                      rgba(#fff,.35) 50%,
                                      rgba(#B45F05,.0) 64%,
                      )
                      100% 4em / 2.5em 3em,
                      radial-gradient(
                                      200% 100% at 50% 0%,
                                      rgba(#624A2E,.5),
                                      rgba(red,.0) ,
                                      rgba($t,0)
                      )
                      0% 0em / 6.8em 6.8em,
                      radial-gradient(
                                100% 150% at 0% 50%,
                                rgba(#000,.7) 30%,
                                rgba(#343F2A,.3)45% ,
                                rgba(#343F2A,.2) 50% ,
                              rgba($t,0) 80%
                              )
                            -1.5em -1em / 6.8em 7.8em,


            ;
              background-repeat: no-repeat;
            }
            .button-inner{
              // opacity: 0;
              width:5.5em;
              height: 5.5em;
              position: absolute;
              @include abs;
              left:48%;
              border-radius: 1.6em;
              border:.08em solid rgba(#000,.08);
              background:
                      linear-gradient(
                                      -35deg,

                                      rgba(#000,.13) ,
                                      rgba(#000,.1) ,
                                      rgba(#fff,.15) ,
                                      rgba(#fff,.15) ,
                                      rgba(#000,.1) ,
                      )
                      ,
                      linear-gradient(
                                      -35deg,

                                      rgba(#000,.13) ,
                                      rgba(#000,.1) ,
                                      rgba(#fff,.1) ,
                                      rgba(#fff,.1) ,
                      )
                      ,
                      linear-gradient(
                                      -35deg,
                                      #5D6D5E ,
                                      #7A857A ,
                      )
                      ,
                      #768274;
              background-repeat: no-repeat;
              z-index: 999;
              box-shadow:
                      rgba(#fff, .4) .2em .0em .5em -.1em,
                      rgba(#fff, .2) .1em .2em .1em -.1em,
                      rgba(0, 0, 0, .2) -.2em -.1em .2em -.1em;
            }
          }
          .button-fourth{
            .button-text{
              color:#8C8D88;
            }
            .shading{
              width: 100%;
              height: 100%;
              background:
                      linear-gradient(
                                      45deg,
                                      rgba(#232323,.05) 46%,
                                      rgba(#fff, .35) 50%,
                                      rgba(#232323,.05) 64%,
                      )
                      0% 0 / 2em 2em,
                      linear-gradient(
                                      -45deg,
                                      rgba(#232323,.05) 46%,
                                      rgba(#fff,1.25) 50%,
                                      rgba(#232323,.05) 64%,
                      )
                      0% 5em / 2em 2em,
                      linear-gradient(
                                      -45deg,
                                      rgba(#D56800,.0) 46%,
                                      rgba(#fff,.15) 50%,
                                      rgba(#B45F05,.0) 64%,
                      )
                      100% 0em / 2.5em 2em,
                      linear-gradient(
                                      45deg,
                                      rgba(#D56800,.0) 46%,
                                      rgba(#fff,.35) 50%,
                                      rgba(#B45F05,.0) 64%,
                      )
                      100% 4em / 2.5em 3em,
            ;
              background-repeat: no-repeat;
            }
            .button-inner{

              width:5.5em;
              height: 5.5em;
              position: absolute;
              @include abs;
              left:48%;
              border-radius: 1.6em;
              border:.08em solid rgba(#000,.08);
              background:
                      linear-gradient(
                                      -35deg,

                                      rgba(#000,.13) ,
                                      rgba(#000,.1) ,
                                      rgba(#fff,.15) ,
                                      rgba(#fff,.15) ,
                                      rgba(#000,.1) ,
                      )
                      ,
                      linear-gradient(
                                      -35deg,

                                      rgba(#000,.13) ,
                                      rgba(#000,.1) ,
                                      rgba(#fff,.1) ,
                                      rgba(#fff,.1) ,
                      )
                      ,
                      linear-gradient(
                                      -35deg,
                                      #C9C8BE,
                                      #C4C6BB ,
                      )
                      ,
                      #768274;
              background-repeat: no-repeat;
              z-index: 999;
              box-shadow:
                      rgba(#fff, 1.4) .2em .0em .3em -.1em,
                      rgba(#fff, .2) .1em .2em .1em -.1em,
                      rgba(0, 0, 0, .2) -.2em -.1em .2em -.1em;
            }
          }
          .button-second, .button-third{
            .shading{
              width: 100%;
              height: 100%;
              background:
                      linear-gradient(
                                      45deg,
                                      rgba(#D56800,.0) 46%,
                                      rgba(#fff, .15) 50%,
                                      rgba(#B45F05,.0) 64%,
                      )
                      0% 0 / 2em 2em,
                      linear-gradient(
                                      -45deg,
                                      rgba(#D56800,.0) 46%,
                                      rgba(#fff,.25) 50%,
                                      rgba(#B45F05,.0) 64%,
                      )
                      0% 4.7em / 2em 2em,
                      linear-gradient(
                                      -45deg,
                                      rgba(#D56800,.0) 46%,
                                      rgba(#fff,.15) 50%,
                                      rgba(#B45F05,.0) 64%,
                      )
                      100% 0em / 2.5em 2em,
                      linear-gradient(
                                      45deg,
                                      rgba(#D56800,.0) 46%,
                                      rgba(#fff,.35) 50%,
                                      rgba(#B45F05,.0) 64%,
                      )
                      100% 4em / 2.5em 3em,
                      radial-gradient(
                                      200% 100% at 50% 0%,
                                      rgba(#624A2E,.5),
                                      rgba(red,.0) ,
                                      rgba($t,0)
                      )
                      0% 0em / 6.8em 6.8em,
            ;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
  }
}

.bk {
  background-image: none;
}
.opacity {
  opacity: 0.5;
}
