.button {
    all: unset;
    display: block;
    height: 3rem;
    width: 15rem;
    background-color: #4B82F4;
    border: 2px solid #000;
    border-radius: 4px;
    position: relative;
    perspective: 100vmax;
    cursor: pointer;
    background-size: 2rem;
    background-position: center center;
    background-repeat: no-repeat;
}

.button::after {
    width: 100%;
    height: 100%;
    content: "Hello World!";
    font: 600 2rem/1 Beirut;
    font-size: 30px;
    color: white;
    text-align: center;
}

.button::before {
    content: "OPEN";
    font: 600 2rem/1 Beirut;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border: 2px solid #000;
    border-radius: 4px;
    position: absolute;
    inset: -2px auto auto -2px;
    transition: transform 1s;
    transform-style: preserve-3d;
    transform: translate3d(0,0,4px);
    transform-origin: 0 0;
}

.button:hover::before {
    transform: rotate3d(1,0,0,135deg);
}
